.account-ststus-error{

color: #bd2c00;
display: none;
font-size: 16px;
margin: 0 0 15px;

}

.account-ststus-correct{

color: #6cc644;
display: none;
font-size: 16px;
margin: 0 0 15px;

}

.loading{

display: none;

}

.join-status-success{

background-color: #6cc644;
color: #ffffff;
display: none;
font-size: 16px;
margin: 15px 0 0;
padding: 10px;
font-weight:bold;
	
}

.join-status-fail{

background-color: #bd2c00;
color: #ffffff;
display: none;
font-size: 16px;
margin: 15px 0 0;
padding: 10px;
font-weight:bold;


}

.small-card-background{

opacity: 0.8;


}

.small-card-background:hover{

opacity: 1.0;



}

.page-num-style{	

font-size: 25px;
background-color: #d7d7d7;	
border-style: solid;
border-color: #333333;
border-width: 1px;
padding: 10px;



}

.tag-page-style{

font-size: 25px;
background-color: #d7d7d7;	
border-style: solid;
border-color: #333333;
border-width: 1px;
padding: 10px;


}

.this-page{

color: #CE1141;


}

.lightbox{

display: none;


}

.steam-index{

font-size: 15px;
color: #0174DF;


}



@-moz-keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}
@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 8.33333em;
  }
  100% {
    left: 0;
  }
}
.st-loader {
  width: 10em;
  height: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.25em 0 0 -5em;
  box-sizing: border-box;
}

.st-loader:before,
.st-loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.25em;
  box-sizing: border-box;
  border: 0.25em solid #f80;
}

.st-loader:before {
  left: -0.76923em;
  border-right: 0;
}

.st-loader:after {
  right: -0.76923em;
  border-left: 0;
}

.st-loader .equal {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 4.16667em;
  height: 1em;
  width: 1.66667em;
  border: 0.25em solid #f80;
  box-sizing: border-box;
  border-width: 0.25em 0;
  -moz-animation: loading 1.5s infinite ease-in-out;
  -webkit-animation: loading 1.5s infinite ease-in-out;
  animation: loading 1.5s infinite ease-in-out;
}