.account-ststus-error{

color: #bd2c00;
display: none;
font-size: 16px;
margin: 0 0 15px;

}

.account-ststus-correct{

color: #6cc644;
display: none;
font-size: 16px;
margin: 0 0 15px;

}

.loading{

display: none;

}

.join-status-success{

background-color: #6cc644;
color: #ffffff;
display: none;
font-size: 16px;
margin: 15px 0 0;
padding: 10px;
font-weight:bold;
	
}

.join-status-fail{

background-color: #bd2c00;
color: #ffffff;
display: none;
font-size: 16px;
margin: 15px 0 0;
padding: 10px;
font-weight:bold;


}

.small-card-background{

background-color: #e1e1e1;
opacity: 0.8;


}

.small-card-background:hover{

opacity: 1.0;



}